body {
  margin:0;
  font-family:Arial;
}

/* LOGIN */
.login-body {
  background:#0b0f14;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box {
  background:#161b22;
  padding:30px;
  border-radius:10px;
  width:300px;
  text-align:center;
}

.logo {
  width:80px;
  margin-bottom:15px;
}

/* DISPLAY */
.display {
  background:#0b0f14;
  color:white;
}

.topbar {
  display:flex;
  justify-content:space-between;
  padding:10px;
  font-size:20px;
}

.layout {
  display:grid;
  grid-template-columns: 300px 1fr;
}

.vehicles {
  background:#111;
}

.vehicle {
  padding:10px;
  border-bottom:1px solid #333;
}

.green { background:#1f6f3d; }
.orange { background:#b45309; }
.red { background:#991b1b; }
.gray { background:#374151; }
